/* 
Filename: portland.css
I created a new template to not mess with template-pre files.
Date: 03/19/2017
Programmer: Dipti Muni
*/
/* added margin 0 */


    
body {
     background-image: url(../images/background.jpg);
     background-color: #ffffff;
     color: #000000;
     font-family: Verdana, Arial, sans-serif;  
     margin: 0;
}
     
header {
     background-color: #043c6b;
     color: #ffffff;
     font-family: Georgia, serif; 
     
     
}

h1 {
     line-height: 200%; 
     background-image: url(../images/small_logo.png);
     background-position: left;
     background-repeat: no-repeat; 
     padding-left: 20px;
     height: 100px;
     margin-bottom: 0;
     text-align: right;
     padding-right: 0.5em;
     
}

a {
    text-decoration: none;
}
    

h2 {
     color: #0b5fa5;
     font-family: Georgia, serif; 
}

h3 {
     color: #000033;
}

nav {
     font-weight: bold;
     padding: 5px;
     padding-top: 20px;
     padding-right: 40px;
     padding-bottom: 0;
     padding-left: 15px;
     float: left;
     width: 160px; 
        
}

nav a { 
     text-decoration: none;
     display: block;
     text-align: center;
     font-weight: bold;
     padding: 1em;
     margin-bottom: 1em;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #000000;
}

nav a:hover {
    color: #a9a9a9;
}
/* added text-align center and padding 1em */

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    padding: 1em;
}
/* added his nav il rule */

nav il {
    display: inline-block;
    padding: 0 1em;
    font-size: 22px;
}

main {
    
       padding-left: 20px;
       padding-right: 20px;
       display: block;
       margin-left: 170px;
       padding-top: 1px;
       padding-bottom: 1px;
       background-color: #ffffff;
       
}

footer {
     font-size: .70em;
     font-style: italic;
     text-align: center;
     padding: 10px;
}

header, nav, main, footer {
    display: block;
}

label {
     float: left;
     display: block;
     text-align: right;
     font-weight: bold;
     width: 10em;
     padding-right: 1em;
}

input, textarea {
     display: block;
     margin-bottom: 2em;
}

form {
     padding: 3em;
}

#small {
    
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

img {
    width: 100%;
    height: auto;
} 
.company {
     color: #000033;
     font-size: 1.2em;
     font-weight: bold;
}

#button {
    width: 100px;
    height: 50px;
    float: right;
    padding-top: 1em;
}

/*.bottom { 
     display: none;
} */

#wrapper {
     background-color: #0b5fa5;
     margin-left: auto;
     margin-right: auto;
     min-width: 700px;
     max-width: 1024px;
     min-height: 700px;
     box-shadow: 3px 3px 3px #333;
     width: 80%;
}
 #image {
     height: auto;
    /* background-image: url(../images/image.jpg); */
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-color: #89cff0;
}



#mySubmit, #mySend {
     margin-left: 10em;
     font-weight: bold;
     font-size: 20px;
     background-color: #7fffd4;
}


* {
    box-sizing: border-box;
}

#mobile {
        display: none;
}

#desktop {
         display: inline;
}
 @media only screen and (min-width: 768px ) {
        .bottom {display: none;}
}
/* Below media query is for tablet */
@media only screen and (max-width: 1024px) {
    body { margin: 0;
           padding: 0;
           background-image: none;}
    #wrapper {  width: auto;
                min-width: 0;
                margin: 0;
                box-shadow: none;}
    h1 {    margin: 0;}
    nav {
         float: none;
         width: auto;
         padding: 0.5em; }
    nav li { display: inline-block;}
    nav a { padding: 1em;}
    main { padding:1em; 
           margin-left: 0;
           font-size: 90%;}
    img { width: 100%;
          height: auto; } 
    footer { margin: 0;}
  
}

@media only all and (max-width: 768px) {
/* I created a mobile sized logo so the image will not crop when it is below 768px */
    header {
        background: url(../images/small_logo.png) no-repeat center;
        background-color: #043c6b; }
    h1 { height: 100%;
         font-size: 1.5em;
         background-image: none;
         padding-left: 0.3em;
         text-align: center;
        padding-top: 6em;} 
    nav { padding: 0;}
    nav a { display: block;
            padding: 0.2em;
            font-size: 1.3em;
            border-bottom: 1px solid #000000;}
    nav ul { margin: 0;
             padding: 0;}
    nav li { display: block;
             margin: 0;
             padding: 0;}
    main { padding-top: 0.1em;
           padding-right: 0.6em;
           padding-bottom: 0.1em;
            padding-left: 0.4em;}
    img {
        width: 100px;
        height: 50px;
        display: block;
        margin: 0 auto;
    }
    #image {display: none} 
    #small {display: none}
    #button {display:none;}
    footer { padding: 0;}
    #mobile { display: inline;}
    #desktop { display: none;}
       
}